@charset "utf-8";

$primary-color: #2F62FB; // 主题色



/**** 自定义常用的 class ***/
%text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

%middle {
  display: inline-block;
  vertical-align: middle
}


@mixin ellipsis($num) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $num;
}